[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
postmarker = "*"
pandas = "*"
fiona = "*"
SQLAlchemy = "*"

# this fails so don't use the virtualenv in prod 
#psycopg2 = "*"
# workaround
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.9"
